# ignore the following files in src directory that are produced by AVR studio:
src/AvrBuild.bat
src/avr-lab01.aps
src/avr-lab01.aws
src/avr-lab01.hex
src/avr-lab01.map
src/avr-lab01.obj
src/labels.tmp
# ignore the following files in src directory that are output of avra
src/avr-lab01.cof
src/avr-lab01.eep.hex
src/avr-lab01.hex
src/avr-lab01.obj
# ignore the following files in doc directory that are output of LaTeX
doc/doc.aux
doc/doc.bbl
doc/doc.blg
doc/doc.log
doc/doc.out
doc/doc.pdf
doc/doc.toc